= form_for(@message) do |f|
  - if @message.errors.any?
    id="error_explanation"
      h2 = pluralize(@message.errors.count, "error") = I18n.t('prohibited_this_message_from_being_saved')

        ul
          - @message.errors.full_messages.each do |msg|
            li = msg

  .field
    = f.label I18n.t('employee')
    = f.text_field :employee

  .field
    = f.label I18n.t('url')
    = f.text_field :url

  .field
    = f.label I18n.t('email')
    = f.text_field :email

  .field
    = f.label I18n.t('commit')
    = f.text_area :commit

  div
    = f.label :aasm_state
    = f.text_field :aasm_state

  div
    = I18n.t('time_now')= Time.now

  .actions
    = f.submit
