<h1>Persons#profile</h1>
<ul>
<li><a href="http://localhost:3000/messages">сообщения</a></li>
</ul>
<p>Find me in app/views/persons/profile.html.erb</p>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to 'New Message', new_message_path %>
